<a href="https://colab.research.google.com/github/polyuki/Python-Practice/blob/main/P3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
  motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
  print(motorcycles)

  motorcycles.remove('ducati')
  print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

In [1]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [2]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [3]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
print(cars)

print("\nHere is the sorted list:")
print(sorted(cars))

print("\nHere is the original list again:")
print(cars)

Here is the original list:
['bmw', 'audi', 'toyota', 'subaru']

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']

Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [4]:
# 初始列表
cars = ['bmw', 'audi', 'toyota', 'subaru']

# 对列表进行排序，并将结果保存到新的变量 sorted_cars 中
sorted_cars = sorted(cars)

# 打印排序后的列表
print("Here is the sorted list:")
print(sorted_cars)

# 打印原始列表，它仍然保持原始顺序
print("Here is the original list again:")
print(cars)

Here is the sorted list:
['audi', 'bmw', 'subaru', 'toyota']
Here is the original list again:
['bmw', 'audi', 'toyota', 'subaru']

In [6]:
# 创建一个包含旅游地点的列表（不按字母顺序排列）
travel_destinations = ['Paris', 'Tokyo', 'New York', 'Rome', 'Sydney']

# 打印原始列表
print("原始列表:")
print(travel_destinations)

# 使用sorted()按字母顺序打印列表，不修改它
print("\n按字母顺序打印列表:")
print(sorted(travel_destinations))

# 再次打印原始列表，核实排列顺序未变
print("\n再次打印原始列表:")
print(travel_destinations)

# 使用sorted()按与字母顺序相反的顺序打印列表，不修改它
print("\n按与字母顺序相反的顺序打印列表:")
print(sorted(travel_destinations, reverse=True))

# 再次打印原始列表，核实排列顺序未变
print("\n再次打印原始列表:")
print(travel_destinations)

# 使用reverse()修改列表元素的排列顺序，打印修改后的列表
travel_destinations.reverse()
print("\n使用reverse()修改列表元素的排列顺序:")
print(travel_destinations)

# 使用reverse()再次修改列表元素的排列顺序，打印修改后的列表
travel_destinations.reverse()
print("\n使用reverse()再次修改列表元素的排列顺序:")
print(travel_destinations)

# 使用sort()修改列表元素的排列顺序，使其按字母顺序排列，打印修改后的列表
travel_destinations.sort(reverse=True)
print("\n使用sort()修改列表元素的排列顺序，按与字母顺序相反的顺序排列:")
print(travel_destinations)

原始列表:
['Paris', 'Tokyo', 'New York', 'Rome', 'Sydney']

按字母顺序打印列表:
['New York', 'Paris', 'Rome', 'Sydney', 'Tokyo']

再次打印原始列表:
['Paris', 'Tokyo', 'New York', 'Rome', 'Sydney']

按与字母顺序相反的顺序打印列表:
['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']

再次打印原始列表:
['Paris', 'Tokyo', 'New York', 'Rome', 'Sydney']

使用reverse()修改列表元素的排列顺序:
['Sydney', 'Rome', 'New York', 'Tokyo', 'Paris']

使用reverse()再次修改列表元素的排列顺序:
['Paris', 'Tokyo', 'New York', 'Rome', 'Sydney']

使用sort()修改列表元素的排列顺序，按与字母顺序相反的顺序排列:
['Tokyo', 'Sydney', 'Rome', 'Paris', 'New York']

In [7]:
# 嘉宾名单
guests = ['Alice', 'Bob', 'Charlie']

# 计算嘉宾数量并打印消息
num_guests = len(guests)
print(f"我邀请了 {num_guests} 位嘉宾来共进晚餐。")

我邀请了 3 位嘉宾来共进晚餐。

In [ ]:
 motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
 print(motorcycles)

 too_expensive = 'ducati'
 motorcycles.remove(too_expensive)
 print(motorcycles)
 print(f"\nA {too_expensive.title()} is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']

A Ducati is too expensive for me.

In [ ]:
# 创建一个包含邀请人名的列表
guests = ['Alice', 'Bob', 'Charlie']

# 打印邀请消息
for guest in guests:
    print(f"Dear {guest}, you are cordially invited to join me for dinner.")

# 打印结束消息
print("I look forward to seeing you all at the dinner!")

Dear Alice, you are cordially invited to join me for dinner.
Dear Bob, you are cordially invited to join me for dinner.
Dear Charlie, you are cordially invited to join me for dinner.
I look forward to seeing you all at the dinner!

In [ ]:
# 原始嘉宾名单
guests = ['Alice', 'Bob', 'Charlie']

# 打印哪位嘉宾无法赴约
print(f"{guests[1]} 无法赴约。")

# 修改嘉宾名单，将无法赴约的嘉宾替换为新邀请的嘉宾
guests[1] = 'David'  # 假设你要邀请 David 替代 Bob

# 打印新的邀请消息
for guest in guests:
    print(f"Dear {guest}, you are cordially invited to join me for dinner.")

# 打印结束消息
print("I look forward to seeing you all at the dinner!")

Bob 无法赴约。
Dear Alice, you are cordially invited to join me for dinner.
Dear David, you are cordially invited to join me for dinner.
Dear Charlie, you are cordially invited to join me for dinner.
I look forward to seeing you all at the dinner!